:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
  background-color: whitesmoke;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 96px;
  line-height: 1.5;
}

h2 {
  font-size: 64px;
}

h4 {
  font-size: 48px;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 80px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}

.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  line-height: 2;
  font-size: 24px;
}

.content-container {
  padding: 10px 20px;
}

.content h1 {
  font-size: 64px;
  line-height: 80px;
}

.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.content h3 {
  font-size: 24ox;
  line-height: 1.5;
  margin: 20px 0 0;
  font-family: var(--default-font-family);
}

.content p {
  font-size: 14px;
}

.content {
  margin: 30px;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline {
  border-radius: 4px;
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.project-description {
  padding: 120px 60px 0;
}

.img-fluid {
  border-radius: 6px;
}

.logo {
  max-height: 40px;
}

.resume-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 60px;
  border: solid black;
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
  background: white;
  background-repeat: no-repeat;
}

.example-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 60px;
  border: solid black;
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
  background-image: url("../images/WellsFargo.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.resume-container a:hover {
  text-decoration: underline;
  color: blue;
}

.example-container a:hover {
  text-decoration: underline;
  color: blue;
}

.resume-container a {
  text-decoration: none;
  color: black;
}

.example-container a {
  text-decoration: none;
  color: black;
}

.resume-container p {
  line-height: 1.5;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
}

.example-container p {
  line-height: 1.5;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
}

.resume-container h1 {
  text-align: center;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.example-container h1 {
  text-align: center;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.resume-container h2 {
  text-align: left;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

.example-container h2 {
  text-align: left;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

.resume-container h3 {
  color: blue;
  text-align: left;
  font-size: 20px;
}

.example-container h3 {
  color: blue;
  text-align: left;
  font-size: 20px;
}

.resume-container h4 {
  text-align: left;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.example-container h4 {
  text-align: left;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.resume-container button:hover {
  background: blue;
  color: white;
  cursor: pointer;
}

.example-container button:hover {
  background: blue;
  color: white;
  cursor: pointer;
}

.resume-container a {
  text-decoration: none;
  color: black;
}

.example-container a {
  text-decoration: none;
  color: black;
}

.resume-container button {
  padding: 10px 20px;
  color: blue;
  display: block;
  margin: 0 auto;
  text-decoration: none;
  font-size: 20px;
  background: transparent;
  transition: all 150ms ease-in-out;
  border-radius: 10px;
}

.example-container button {
  padding: 10px 20px;
  color: blue;
  display: block;
  margin: 0 auto;
  text-decoration: none;
  font-size: 20px;
  background: transparent;
  transition: all 150ms ease-in-out;
  border-radius: 10px;
}

.fb-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 60px;
  border: solid black;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
  background: whitesmoke;
  text-align: left;
}

.fb-container img {
  max-width: 40px;
  margin: 0 auto;
}

.fb-container button {
  color: blue;
  padding: 10px;
  max-width: 600px;
}

.fb-container button:hover {
  background-color: blue;
  color: white;
  padding: 10px;
  max-width: 600px;
}

.fbcode-container {
  max-width: 200px;
  max-height: 100px;
  margin: 0 auto;
  padding: 11px;
  border: solid black;
  background: lightblue;
  font-weight: bold;
  text-align: center;
}

nav {
  padding: 20px 0;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: #272142;
}

nav a:hover,
nav li.active a {
  color: var(--branding-color);
  transition: all 100ms ease-in-out;
}

footer {
  margin: 60px 0;
}

footer .contact-box {
  background-color: var(--secondary-color);
  padding: 30px;
  margin: 30px 10px 120px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

footer .email-link:hover {
  color: var(--branding-color);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background-color: var(--secondary-color);
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background: var(--branding-color);
}

small {
  font-size: 8pt;
  color: lightgray;
}

@media (max-width: 900px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 44px;
    line-height: 1.5;
    text-align: center;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }

  .hero {
    padding: 80px 20px;
  }

  .content-container {
    text-align: center;
    padding: 60px 20px;
  }
  .img-fluid {
    width: 20;
    height: 20;
  }

  .email-link {
    padding-top: 30px;
  }
}
